* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    text-align: center;
    font-size: 18px;
    /* Add this line */
}

h1 {
    color: black;
    text-align: center;
    font-size: 32px;
    /* Add this line */
}

.menu {
    display: flex;
    flex-direction: row;
    /* Change flex-direction to row */
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.container {
    height: 300px;
    width: 400px;
    background-color: #aeaeae;
    color: white;
    border-radius: 30px;
    margin: 0 20px;
}

.container2 {
    height: 200px;
    width: 200px;
    background-color: #aeaeae;
    color: white;
    border-radius: 30px;
    margin: 0 20px;
}