body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.profile {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-pic {
    width: 200px;
    height: 200px;
    background-color: grey;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.info {
    max-width: 300px;
    margin-bottom: 20px;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.surname {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.dob {
    font-size: 28px;
    color: #888;
    margin-bottom: 10px;
}

.height-weight {
    display: flex;
    flex-direction: column;


}
.stat.height a:first-child {
    font-weight: bolder;
    font-size: 28px;
}

.stat.height a:last-child {
    font-size: 28px;
}

.stat.height-weight a:first-child {
    font-weight: bolder;
    font-size: 28px;
}

.stat.height-weight a:last-child {
    font-size: 28px;
}


.stat {
    background-color: #f0f0f0;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 90px;
}

.right-side {
    width: 60%;
}

.date-time {
    text-align: right;
    font-size: 28px;
    font-weight: bolder;
}

.dashboard {
    width: 700px; 
    height: 500px; 
    background-color: grey;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}

.progress-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}