@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: "Sans-serif", "Poppins", "Montserrat", "Josefin Sans", sans-serif;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "FONTTEXT";
    src: url(../fonts/JosefinSans-ExtraLight.ttf);
}

body {
    padding: 0 7em;
    background-color: white;
    font-size: clamp(18px, 1vw, 50px);
}

h1 {
    color: black;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    font-size: clamp(18px, 1vw, 50px);
}

h2 {
    font-weight: 800;
    font-size: 42px;
}

h3 {
    font-weight: 600;
    font-size: 30px;
    color: black;
}

.planhead {
    font-weight: 600;
    font-size: 50px;
    color: black;
    text-align: center;
    top: 5%;

}

p {
    color: black;
    z-index: 2;
    font-weight: 600;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.videoContainer {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    min-width: 15%;
    width: auto;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 92%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999 ;
    justify-content: flex-start;
    padding-top: 10px;
}


#conquistas-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#conquistas-next
{
    margin-top: 7%;
}
.badges-gained {
    margin-top: 2px;
    width: 60px;
    height: 60px;
    background-color: gray;
    border-radius: 50%;
 
}

.badges-next {
    margin-top: 2px;
    width: 60px;
    height: 60px;
    background-color: lightgrey;
    border-radius: 50%;
 
}


.videoContainer > .content h3 {
    margin-top: 5%; 
}

.videoContainer > .content #word  {
    margin-top: 10%; 
    color: gray
}

.videoContainer > .content #counter  {
    font-weight: bolder;
}

.videoContainer > .content #descricao  {
    margin-top: 50%; 
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.ExImage {
    height: 20vh;
    width: 25vw;
    margin: 10px;
    color: black;
    border-radius: 30px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    /* Establish positioning context */
}

.ExImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    /* Ensure the image covers the container */
}

.ExName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    /* Set a fixed width for the container */
    text-align: center;
    /* Center the text horizontally */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.ExType {
    font-family: "FONTTEXT";
}

.container3 .content {
    margin-top: auto;
    text-align: center;
    width: 100%;
    position: relative;
    /* Establish positioning context */
}

.bold {
    font-weight: bold;
    margin-left: 140px;
}

#timer {
    position: fixed;
    top: 25%;
    left: 92%;
    font-size: 50px;
    padding: 10px;
    transform: translate(-50%, -50%);
    color: green;
    z-index: 9999;
}

.animated-content {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.animated-content.loaded {
    opacity: 1;
    transform: translateY(0);
}

.Info {
    aspect-ratio: 1/1;
    /* Maintain a square aspect ratio */
    height: 25vh;
    width: 40vw;
    /* Adjust width to take half of the container */
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    flex: 1;
    max-width: calc(100% - 110px);
    margin-right: 1rem;
}

.IMGcontainer {
    width: 46%;
    /* Occupy half of the container width */
    height: 100%;
    margin-right: -50px;
}

.meusplanosimg {
    width: 15vw;
    height: 25vh;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
    /* Adjust border-radius to match the container */
}

.PlanName {
    font-size: x-large;
}

.datetime-container {
    order: 3;
    flex-direction: column;
    align-items: flex-start;
    align-items: right;
    font-size: 30px;
    font-weight: 100;
    text-align: right;
}


.date {
    font-family: "FONTTEXT";
    font-weight: lighter;
    margin-left: 10%;

}

.maindiv {
    margin: 50px 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: black;
}

.PlanInfo {
    text-align: left;
    margin-right: 20px;
    /* Adjust this value as needed */
    margin-top: 10%;
}

.PlanNumber {
    font-family: "FONTTEXT";
    font-weight: lighter;
}

.description {
    width: 600px;
}

.description p {
    display: inline;
}

.description .d1 {
    font-weight: normal;
}

.duration p {
    display: inline;
}

.duration .dur1 {
    font-weight: normal;
}

.type p {
    display: inline;
}

.Diff p {
    display: inline;
}

.type .t1 {
    font-weight: normal;
}

.details {
    display: flex;
    justify-content: space-between;
}

.Exercicios {
    margin-top: 2%;
    font-family: "FONTTEXT";
    font-weight: lighter;
}
