@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: "Sans-serif", "Poppins", "Montserrat", "Josefin Sans", sans-serif;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "FONTTEXT";
    src: url(../fonts/JosefinSans-ExtraLight.ttf);
}

body {
    padding: 0 7em;
    background-color: white;
    font-size: clamp(18px, 1vw, 50px);
}

h1 {
    color: black;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    font-size: clamp(18px, 1vw, 50px);
}

h2 {
    font-weight: 800;
    font-size: 42px;
}

h3 {
    font-weight: 600;
    font-size: 38px;
    color: black;
}

h4 {
    font-weight: 300;
    font-size: 30px;
    color: black;
    margin-top: 5%;
}

p {
    margin-bottom: 0;
}

.planhead {
    font-weight: 600;
    font-size: 50px;
    color: black;
    text-align: center;
    top: 5%;

}

p {
    color: black;
    z-index: 2;
    font-weight: 600;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.videoContainer {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    min-width: 15%;
    width: auto;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 92%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    justify-content: flex-start;
    padding-top: 10px;
}


#conquistas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conquistas-next {
    margin-top: 7%;
}

.badges-gained {
    margin-top: 2px;
    width: 60px;
    height: 60px;
    background-color: gray;
    border-radius: 50%;

}

.badges-next {
    margin-top: 2px;
    width: 60px;
    height: 60px;
    background-color: lightgrey;
    border-radius: 50%;

}


.videoContainer>.content h3 {
    margin-top: 5%;
}

.videoContainer>.content #word {
    margin-top: 10%;
    color: gray
}

.videoContainer>.content #counter {
    font-weight: bolder;
}

.videoContainer>.content #descricao {
    margin-top: 50%;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.ExImage {
    height: 20vh;
    width: 25vw;
    margin: 0px;
    color: black;
    border-radius: 15px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.ExImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.ExName {
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    text-align: center;
    color: white;
}

.ExType {
    font-family: "FONTTEXT";
}

.container3 .content {
    margin-top: auto;
    text-align: center;
    width: 100%;
    position: relative;
}

.bold {
    font-weight: bold;
    margin-left: 140px;
}

#timer {
    position: absolute;
    top: 25%;
    left: 92%;
    font-size: 50px;
    padding: 10px;
    transform: translate(-50%, -50%);
    color: green;
    z-index: 9999;
}

#elapsedTime {
    position: fixed;
    top: 57%;
    left: 50%;
    font-size: 40px;
    padding: 10px;
    transform: translate(-50%, -50%);
    color: rgb(0, 24, 160);
    z-index: 2;
}

#badges {
    position: fixed;
    top: 74%;
    left: 50%;
    font-size: 30px;
    padding: 10px;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.animated-content {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.animated-content.loaded {
    opacity: 1;
    transform: translateY(0);
}

.Info {
    aspect-ratio: 1/1;
    height: 25vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
}

.text {
    flex: 1;
    max-width: calc(100% - 110px);
    margin-right: 1rem;
}


.IMGcontainer img {
    height: 144px;
    width: 144px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    margin-right: 20px;
}

.meusplanosimg {
    width: 15vw;
    height: 25vh;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
}

.horizontal-line {
    border-top: 1px solid #000;
    width: 25%;
    margin: 15px 0;
}

.text p {
    font-size: 28px;
    font-weight: normal;
}


.PlanName {
    font-size: 32px;
    font-weight: bold;
}

.PlanInfo {
    text-align: left;
    margin-right: 20px;
    margin-top: 10%;
}

.PlanNumber {
    margin-top: 0px;
    font-size: 22px;
    font-family: "FONTTEXT";
    font-weight: lighter;
}

.datetime-container {
    order: 3;
    flex-direction: column;
    align-items: flex-start;
    align-items: right;
    font-size: 30px;
    font-weight: 100;
    text-align: right;
}


.maindiv {
    margin: 50px 0px 25px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: black;
}



.description p {
    font-weight: normal;
    display: inline;
}

.description .d1 {
    font-weight: normal;
}

.duration p {
    display: inline;
}

.type p {
    display: inline;
}

.Diff p {
    display: inline;
}

.duration .subtitle {
    font-weight: normal;
}

.type .subtitle {
    font-weight: normal;
}

.details {
    display: flex;
    justify-content: space-between;
}

.Exercicios {
    font-size: 20px;
    margin-top: 4%;
    font-family: "FONTTEXT";
    font-weight: lighter;
}

.lowContent {
    margin-top: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 5vh;
    width: 15vw;
    border: none;
    background: green;
    border-radius: 10px;
}

.fas fa-microphone {
    font-size: 20px;
    color: black;
    margin-right: 50px;

}

.lable {
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.footer {
    display: flex;
    margin-top: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer2 {
    display: flex;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon {
    transform: rotateY(180deg);
}

.achievement {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}

.title,
.achievements-container {
    width: 100%;
    margin-bottom: 10px;
}

.achievements-container {
    display: flex;
    position: relative;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05) rotate(10deg);
    }

    100% {
        transform: scale(1);
    }
}

.rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.Alert {
    text-align: center;
    margin-bottom: 20px;
}

.stopwatch-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Set height to full viewport height */
}

.stopwatch-container img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    /* Position at the top of the container */
}