<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHP</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
    <style>
        @font-face {
            font-family: 'MyFont';
            src: url('homegym\static\fonts\GlacialIndifference-Bold.otf');
        }
        body {
            font-family: 'MyFont', sans-serif;
        }
    </style>
</head>
<body>
    <div class = "profile">
        <h1>Bem vindo,</h1>
        <h2>{{nome}}</h2>
        <div class="container2"></div>
    </div>

    
    <div class="menu">
        <div class="container"><p>Pefil</p></div>
        <div class="container"><p>Planos de Treino</p></div>
        <div class="container"><p>Nova Sessão</p></div>
    </div>
</body>
</html>
