<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/treinos.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

    <title>HomeGym</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@latest/dist/svg.min.js"></script>
    <script src="static/js/mmi.js"></script>
    <script src="static/js/globals.js"></script>
    <script src="static/js/jquery-3.6.4.min.js"></script>
    <script src="static/js/webtoolkit.utf8.js"></script>
    <script src="static/js/datetime.js"></script>
    <script src="static/js/menuplanos.js"></script>
    <script src="static/js/geral.js"></script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script type="module">
        let selectedPlan = 0;

        var mmiCli_Out_add = "wss://" + host + ":8005/IM/USER1/";
        var mmiCli_Out = null;
        mmiCli_Out = new MMIClientSocket(mmiCli_Out_add + "APP");
        mmiCli_Out.onMessage.on(im1MessageHandler);
        mmiCli_Out.onOpen.on(socketOpenHandler);
        mmiCli_Out.openSocket();

        function socketOpenHandler(event) {
            console.log("---------------openSocketHandler---------------");
            if (mmiCli_Out.socket.readyState !== WebSocket.OPEN) {
                return;
            }
        }

        function im1MessageHandler(data) {
            console.log("--------------im1MessageHandler---------------");
            if (data != null && data != "RENEW" && data != "OK") {
                console.log(data);
                var content = $(data)
                    .find("emma\\:interpretation")
                    .first()
                    .text()
                    .trim();
                if (typeof content == "string") {
                    try {
                        // Try to parse XML
                        let message = JSON.parse(content);
                        if (message.hasOwnProperty("nlu") && message.nlu.intent == "go_to_training_plans") {
                            window.location.href = "/meusplanos";
                        } else if (message.hasOwnProperty("nlu") && message.nlu.intent == "go_to_mainpage") {
                            window.location.href = "/";
                        } else if (message.hasOwnProperty("nlu") && message.nlu.intent == "choose_training_plan") {
                            const planNumber = parseInt(message.nlu.nome_plano.toLowerCase().split(" ")[1]);
                            if (!isNaN(planNumber)) {
                                handlePlanSelection(planNumber);
                            }
                        }
                        else if(message.hasOwnProperty("nlu") && message.nlu.intent == "mic_on") {
                            micON();
                        }else if(message.hasOwnProperty("nlu") && message.nlu.intent == "mic_off") {
                            micOFF();
                        }else if(message.hasOwnProperty("nlu") && message.nlu.intent != null) {
                            //intent not recognized
                            micOFF();
                        }

                    } catch (e) {
                        console.log(e);

                    }
                }
            } else {
                loadPlans();
                showLevel();
                showStreak();
            }
        }

        var mmiCli_1 = null;
        mmiCli_1 = new MMIClient(null, "https://"+host+":8000/IM/USER1/APPSPEECH");
        sendToVoice("Escolha um plano de treino para ver mais detalhes.");
        function sendToVoice(texto){
            //let speak = "&lt;speak version=\"1.0\" xmlns=\"http://www.w3.org/2001/10/synthesis\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.w3.org/2001/10/synthesis http://www.w3.org/TR/speech-synthesis/synthesis.xsd\" xml:lang=\"pt-PT\"&gt;&lt;p&gt;" + "quadrado" + "&lt;/p&gt;&lt;/speak&gt";
            let speak = "<speak version=\"1.0\" xmlns=\"http://www.w3.org/2001/10/synthesis\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.w3.org/2001/10/synthesis http://www.w3.org/TR/speech-synthesis/synthesis.xsd\" xml:lang=\"pt-PT\"><p>"+texto+"</p></speak>";
            var result = speak;
            mmiCli_1.sendToIM(new LifeCycleEvent("APPSPEECH", "IM", "text-1", "ctx-1").
                doStartRequest(new EMMA("text-", "text", "command", 1, 0).
                    setValue(JSON.stringify(result))));
        }

        function handlePlanSelection(planNumber) {
            console.log(`Plano ${planNumber}`);
            checkIfPlanExists(planNumber).then((exists) => {
                if (exists) {
                    window.location.href = "/meusplanos/plano" + planNumber;
                } else {
                    console.log("Plano não existe");
                    micOFF();
                }
            });
        }
    </script>

    <div class="main-area">
        <div class="circles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="profile">
            <div class="welcome">
                <div class="container2" style="background-image: url('{{image_path}}');"></div>
                <div class="text">
                    <h2>{{name}}</h2>
                    <div class="streak_level_group">
                        <div id="level"></div>  
                        <div id="streak"></div>
                    </div>
                </div>
            </div>
            <div id="mic">
                <svg class="mic" id="mic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width:70px; height:70px;">
                    <path fill="#000000" d="M12,1A4,4 0 0,1 16,5V11A4,4 0 0,1 12,15A4,4 0 0,1 8,11V5A4,4 0 0,1 12,1M12,19A7,7 0 0,0 19,12H22A10,10 0 0,1 12,22A10,10 0 0,1 2,12H5A7,7 0 0,0 12,19Z" />
                </svg>
            </div>
            <p id="datetime" class="datetime-container">
                <span class="time"></span>
                <span class="date"></span>
            </p>
        </div>
        <div id="content" class="animated-content"></div>
        <div class="footer-content">
        <img class="arrow-icon" src="../static/img/icon/arrow-232.svg" />
        <p>Voltar para o menu</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>