<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Gym</title>
    <link rel="stylesheet" href='static/css/menu.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<div class="main-area">
    <div class="circles">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

<div class="menu">
    <div class="containerLeft">
        <div class="content">
            <img src="static/img/gym.png" alt="" class="gym">
            <div class="text-overlay">
                <p>Perfil</p>
            </div>
        </div>
    </div>

    <div class="containerMiddle">
        <div class="content">
            <img src='static/img/workoutplan.png' alt="" class="workoutplan">
            <div class="text-overlay">
                <p>Planos de Treino</p>
            </div>
        </div>
    </div>
    </a>
    
    <div class="containerRight">
        <div class="content">
        <img src='static/img/novasessao.png' alt="" class="novasessao">
        <div class="text-overlay">
            <p>AMIGOS e NOVA SESSÃO</p>
        </div>
        <p class="term">Terminar Sessão</p>
    </div>
    </div>
        
</div>

</div>
<script src='static/js/datetime.js'></script>
</body>
</html>