<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Gym</title>
    <link rel="stylesheet" href='static/css/menu.css'>
</head>

<body>
<div class="menu">
    <div class="container">
        <div class="content">
            <p>Perfil</p>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <img src='static/img/haltere1.png' alt="" class="haltere">
            <div class="text-overlay">
                <p>Planos de Treino</p>
            </div>
        </div>
    </div>
    </a>
    
    <div class="container">
        <div class="content">
            <p>Nova Sessão</p>
        </div>
    </div>
</div>


<script src='static/js/datetime.js'></script>
</body>
</html>