<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/treinos.css')}}">
    <title>HomeGym</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@latest/dist/svg.min.js"></script>
    <script src="../static/js/mmi.js"></script>
    <script src="../static/js/globals.js"></script>
    <script src="../static/js/jquery-3.6.4.min.js"></script>
    <script src="../static/js/webtoolkit.utf8.js"></script>
    <script src='../static/js/datetime.js'></script>
    <script src="../static/js/menuplanos.js"></script>
    <script src="../static/js/planox.js"></script>

    <script type="module">

        var mmiCli_Out_add = "wss://"+host+":8005/IM/USER1/";
        var mmiCli_Out = null;
        mmiCli_Out = new MMIClientSocket(mmiCli_Out_add + "APP");
        mmiCli_Out.onMessage.on(im1MessageHandler);
        mmiCli_Out.onOpen.on(socketOpenHandler);
        mmiCli_Out.openSocket();
      

        function socketOpenHandler(event) {
            console.log("---------------openSocketHandler---------------")
        
            if(mmiCli_Out.socket.readyState !== WebSocket.OPEN)
            {
                return;
            }
        }


        function im1MessageHandler(data) {
            console.log("--------------im1MessageHandler---------------");

            if(data != null && data!="RENEW" && data!="OK") {
                console.log(data);
                var content = $(data).find("emma\\:interpretation").first().text().trim();
                if (typeof content == 'string') {
                try {
                    // Try to parse XML
                    let message = JSON.parse(content);

                }
                catch (e) { console.log(e); }
                }
            }
            else {
                let planNumber = getPlanNumber();
                LoadPlanHead(planNumber);

                loadExercise(planNumber) //times need to be ajusted
                    .then(() => runForTime(10))
                    .then(() => {
                        console.log("1");
                        return loadExercise(planNumber);
                    })
                    .then(() => runForTime(10))
                    .then(() => {
                        console.log("2");
                        return loadExercise(planNumber);
                    })
                    .then(() => runForTime(10))
                    .then(() => {
                        console.log("3");
                        //clean exercise container
                        var exercise = document.getElementById("exercise");
                        exercise.innerHTML = "You have finished the plan! Congratulations!";
                        var timer = document.getElementById("timer");
                        timer.innerHTML = "";
                    })
                    .catch(error => {
                        console.error('An error occurred:', error);
                    });

            }
        }
        
    </script>


<div id="content" > </div>
<div id="exercise" > </div>
<div id="timer" > </div>


</body>
</html>
