<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>GymHome</title>
</head>
<body>
    <h1>HomeGym</h1>

    <h2> Bom dia {{ user }} </h2>
    
    
    <h1>ExercisePlan</h1>
    <ul>
        {% for exercise in exercises %}
            <li>Name: {{ exercise[0] }}</li>
            <li>Description: {{ exercise[1] }}</li>
            <li>Type: {{ exercise[2] }}</li>
            <li>Difficulty: {{ exercise[3] }}</li>
            <br>
        {% endfor %}
    </ul> 
    
        
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>